header {
  background-color: #6baed6;
  color: #f7fbff;
  font-size: 30px;
}
.center{
  text-align: center;
}

.profile_picture{
  width: 150px;
  height: 150px;
  padding: 1%;
  background-color: #466C88;
  border-radius: 90%;
}

h1, h2, header{
    font-family: 'Bungee', serif;
  }

body {
    font-family: 'Open Sans', sans-serif;
  }

.subheading{
  font-family: 'Bungee', serif;
  font-size: 20px;
  color: #4292c6;
}

header h1 {
    margin: 0;
    font-size: 50px;
    color: #2171b5;
  }

header p {
      margin: 0;
      font-size: 16px;
    }

ul li a {
      background-color: #c6dbef;
      color: #2171b5;
      cursor: pointer;
      font-family: 'Bungee', serif;
      font-size: 20px;
    }
aside {
  background-color: #c6dbef;
  width: 20%;
  float: left;
}
main {
    background-color: #deebf7;
    width: 72%;
    float: left;
  }

main h2 {
    color: #466C88;
  }

  footer {
    background-color: #82bef5;
    color: #08306b;
  }

#social_media img {
      width: 35px;
      padding: 1.5%;
    }

.container {
        overflow: hidden;
        background-color: #466C88;
      }
